<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<section>
    <div class="product__container">
        <div class="row">
            <span th:text="${'ID: ' + product.id}"/>
        </div>
        <div class="row">
            <span th:text="${'Title: ' + product.title}"/>
        </div>
        <div class="row">
            <span th:text="${'Price: ' + product.price}"/>
        </div>
    </div>
</section>
<style>
    * {
        box-sizing: border-box;
    }
    .product__container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 32px;
        width: 320px;
    }
    .row {
        padding: 4px;
        border-bottom: 1px solid #007bff;
    }
</style>
</body>
</html>